<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="list-tab.css">
</head>
<body>
<div class="list-tab">
    <div class="list-tab__header list-tab__header--back-color-secondary">آخرین آگهی ها</div>
    <div class="list-tab__btns">
        <button class="list-tab__btns--right ">جدیدترین</button>
        <button class="list-tab__btns--middle">پربازدیدترین</button>
        <button class="list-tab__btns--left">پرحاشیه ترین</button>
    </div>
    <div class="list-tab__list">
        <ul class="list-tab__list--box">
            <li class="list-tab__list--item"><a href="#"> <i class="fal fa-angle-double-left"></i> آگهی اول</a></li>
            <li class="list-tab__list--item"><a href="#"> <i class="fal fa-angle-double-left"></i> آگهی دوم</a></li>
            <li class="list-tab__list--item"><a href="#"> <i class="fal fa-angle-double-left"></i> آگهی سوم</a></li>
            <li class="list-tab__list--item"><a href="#"> <i class="fal fa-angle-double-left"></i> آگهی چهارم</a></li>
        </ul>
    </div>
</div>
</body>
</html>