<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="../css/table.css">

    <!-- dataTable -->

    <link rel="stylesheet" type="text/css" href="../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="../../node_modules/datatables.net/extensions/Responsive/css/responsive.dataTables.min.css">
</head>
<body>
<table id="example" class="cell-border display nowrap">
    <tfoot>
    <tr>
        <th id="title">عنوان</th>
        <th>قیمت</th>
        <th>تغییرات</th>
        <th>حداقل</th>
        <th>حداکثر</th>
    </tr>
    </tfoot>
</table>
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../node_modules/datatables.net/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="../js/table.js"></script>
</body>
</html>